.*.log
*.log
.env*
!.env.example
!.env.vault
!.env.defaults
.*.swp
*.save
node_modules
Thumbs.db
.DS_Store
.SpotlightV100
.hidden
.private
*.pem
node
deno.lock
_mod.ts
_descriptors.json
__*
!__test__
